<!DOCTYPE html>
<html>
  <head>
    <title>词汇认知程度测试</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
	<script src='/javascripts/vue.min.js'></script>
	<script src="/javascripts/test.js"></script>
  </head>
  <body onload='init()'>
	  <div id='vm' style='top;50%'>
		  <div id='word' align='center' style='font-size:100pt;margin:80pt;'>
			  {{ word }}
		  </div>
		  <p align='center' style='margin:20pt;'>
		  	<button class='btn' type='button' onclick='test(5)'>记得很清楚</button>
			<button class='btn' type='button' onclick='test(4)'>需要想一下</button>
			<button class='btn' type='button' onclick='test(3)'>需要仔细想一下</button>
		  	<button class='btn' type='button' onclick='test(2)'>需要提示</button>
		  	<button class='btn' type='button' onclick='test(1)'>有印象</button>
			<button class='btn' type='button' onclick='test(0)'>完全不认识</button>
		  </p>
		  <p id='score' style='display:none;'>
	  		score:{{ score }}
		  </p>
	  </div>
  </body>
</html>
